.app-page {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: #111;
  margin-top: 3rem;
  flex-grow: 1;

  .app-page-content {
    width: 900px;
    max-width: 100%;
    background-color: #222;
    padding: 2rem;
    border-radius: 1rem;

    .app-page-section {
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: #333;
    }
    .app-page-section+.app-page-section {
      margin-top: 1rem;
    }
  }
}