.items {
  display: flex;
  align-items: center;
  justify-content: center;

  .items-table {
    --margin: 3px;

    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    border-radius: 1rem;

    .items-table-row {
      display: flex;
      align-items: center;
      justify-content: center;


      .items-table-cell {
        padding: var(--margin);
        --size: 54px;
        height: var(--size);
        width: var(--size);

        .items-table-cell-content {
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0 0 5px -1px rgb(255 255 255 / 50%);

          >img {
            border-radius: 4px;
            height: var(--size);
            width: var(--size);
          }
        }

        &:not(.empty) {
          cursor: pointer;
        }

        &.empty {
          pointer-events: none;
          .items-table-cell-content {
            box-shadow: none !important;
          }
        }
      }
    }

    &:hover {
      .items-table-row {
        .items-table-cell {
          filter: grayscale(1);
          opacity: 0.25;

          &.basic {
            opacity: 0.5;
          }

          .items-table-cell-content {
            box-shadow: none;
          }

          &.highlight {
            opacity: 1;
            filter: grayscale(0);

            .items-table-cell-content {
              box-shadow: 0 0 5px 2px rgb(255 215 0 / 85%);
            }
          }

          &.highlight-partial {
            opacity: 0.9;

            .items-table-cell-content {
              box-shadow: 0 0 5px 0px rgb(255 255 255 / 50%);
            }

            &.basic {
              opacity: 1;
              filter: grayscale(0) sepia(1);

              .items-table-cell-content {
                box-shadow: 0 0 5px 2px rgb(80 80 255 / 75%);
              }
            }
          }
        }
      }
    }
  }
}