.home {
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;

  .items-table {
    --margin: 5px;

    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--margin);
    padding: var(--margin);

    .items-table-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--margin);
    }

    .items-table-cell {
      --size: 54px;
      height: var(--size);
      width: var(--size);
      border: 2px solid transparent;
      filter: grayscale(1);

      &:not(.empty) {
        border-radius: 5px;
        overflow: hidden;

        cursor: pointer;
      }

      &.highlight {
        filter: grayscale(0);
        box-shadow: 0 0 5px 2px rgb(255 215 0 / 50%);
      }
      &.highlight-partial {
        filter: grayscale(0.5);
      }

      &.empty {
        pointer-events: none;
        border-color: transparent;
      }

      >img {
        border-radius: 4px;
        height: var(--size);
        width: var(--size);
      }
    }
  }
}

