.champions {
  display: flex;
  align-items: center;
  justify-content: center;

  --trait-gap: 12px;

  .champions-content {
    max-width: 700px;

    .champions-section+.champions-section {
      margin-top: 1rem;
    }

    .trait-tiles {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--trait-gap);
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box;
      >.trait-tile {
        cursor: pointer;
        width: 4%;
        aspect-ratio: 1;
        >.trait-tile-content {
          >img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .champion-tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .champion-tile {
        cursor: pointer;
        padding: 3px;
        border-radius: 5px;
        width: 10%;
        aspect-ratio: 1;
        >.champion-tile-content {
          >img {
            border-radius: 4px;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}