.champion {
  width: var(--champion-size);
  aspect-ratio: 1;
  border-radius: calc(var(--champion-size) / 10);
  overflow: hidden;
  cursor: pointer;

  & .champion-image {
    border-radius: calc(var(--champion-size) / 10 - 1);
    height: 100%;
    width: 100%;
  }

  &.champion-tier-1 {
    --champion-border-tier: var(--champion-tier-1--color);
  }
  &.champion-tier-2 {
    --champion-border-tier: var(--champion-tier-2--color);
  }
  &.champion-tier-3 {
    --champion-border-tier: var(--champion-tier-3--color);
  }
  &.champion-tier-4 {
    --champion-border-tier: var(--champion-tier-4--color);
  }
  &.champion-tier-5 {
    --champion-border-tier: var(--champion-tier-5--color);
  }

  &.show-tier {
    border: 2px solid var(--champion-border-tier);
  }
}