.champion {
  width: var(--champion-size);
  aspect-ratio: 1;
  border-radius: calc(var(--champion-size) / 10);
  overflow: hidden;
  cursor: pointer;

  .champion-image {
    border-radius: calc(var(--champion-size) / 10 - 1);
    height: 100%;
    width: 100%;
  }

  &.champion-tier-1 {
    --champion-border-tier: #808080;
  }
  &.champion-tier-2 {
    --champion-border-tier: #11B288;
  }
  &.champion-tier-3 {
    --champion-border-tier: #207AC7;
  }
  &.champion-tier-4 {
    --champion-border-tier: #C440DA;
  }
  &.champion-tier-5 {
    --champion-border-tier: #FFB93B;
  }
  &.champion-tier-6 {
    --champion-border-tier: #207AC7;
  }
  &.champion-tier-7 {
    --champion-border-tier: #C440DA;
  }
  &.champion-tier-8 {
    --champion-border-tier: #FFB93B;
  }

  &.show-tier {
    border: 2px solid var(--champion-border-tier);
  }
}