.classe {
  width: var(--classe-size);
  aspect-ratio: 1;
  border-radius: calc(var(--classe-size) / 10);
  overflow: hidden;
  cursor: pointer;

  .champion-image {
    border-radius: calc(var(--classe-size) / 10 - 1);
    height: 100%;
    width: 100%;
  }
}